.DS_Store
__pycache__
.spyproject/
__pycache__/
.spyproject
doc/.ipynb_checkpoints/
.ipynb_checkpoints/
PytoMat.m
.opt
ConvVsMult.mlx
forMichalis.m
DiffEq3DAxis.py
results.pkl
FVM-varD.py
gmsh.exe
acousticDE/FiniteVolumeMethod/resultsFVM.pkl
imp_resp.wav
Auralization/auralization.wav
doc/_build
acousticDE/FiniteVolumeMethod/absorption_coefficients.csv
acousticDE/FiniteVolumeMethod/simulation_inputs.json
doc/Documentation1D.md
doc/Documentation2D.md
acousticDE/FiniteDifferenceMethod/FDMfrequencies.py
acousticDE/FiniteDifferenceMethod/FDMOneFrequency.py

