.DS_Store
__pycache__
.spyproject/
__pycache__/
.spyproject
doc/.ipynb_checkpoints/
.ipynb_checkpoints/
PytoMat.m
.opt
ConvVsMult.mlx
forMichalis.m
DiffEq3DAxis.py
results.pkl
FVM-varD.py
gmsh.exe
resultsFVM.pkl
imp_resp.wav
Auralization/auralization.wav
doc/_build
Diffusion_Module/FiniteVolumeMethod/absorption_coefficients.csv
Diffusion_Module/FiniteVolumeMethod/simulation_inputs.json
doc/Documentation1D.md
doc/Documentation2D.md
Diffusion_Module/FiniteDifferenceMethod/FDMfrequencies.py
Diffusion_Module/FiniteDifferenceMethod/FDMOneFrequency.py
